<div class="header">
  <nav>
    <a class="logo"><%= link_to "Travelatr", root_path %></a>
    <div class="header-right">
      <a>
        <%= link_to "All Users", bloggers_path %>
      </a>
      <a>
        <%= link_to "All Posts", posts_path %>
      </a>
      <a>
        <%= link_to 'All Destinations', destinations_path %>
      </a>
    </div>
  </nav>
</div>
